<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Simple - Parent Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="/static/parent_user/assets/images/favicon.ico">

        <!--Morris Chart CSS -->
		<link rel="stylesheet" href="/static/parent_user/assets/plugins/morris/morris.css">

        <!-- Bootstrap core CSS -->
        <link href="/static/parent_user/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="/static/parent_user/assets/css/metisMenu.min.css" rel="stylesheet">
        <!-- Icons CSS -->
        <link href="/static/parent_user/assets/css/icons.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/parent_user/assets/css/style.css" rel="stylesheet">

    </head>


    <body>

        <div id="page-wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="">
                        <a href="index.html" class="logo">
                            <img src="/static/parent_user/assets/images/logo.png" alt="logo" class="logo-lg" />
                            <img src="" alt="logo" class="logo-sm hidden" />
                        </a>
                    </div>
                </div>

                <!-- Top navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">

                            <!-- Mobile menu button -->
                            <div class="pull-left">
                                <button type="button" class="button-menu-mobile visible-xs visible-sm">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>

                            <!-- Top nav left menu -->
                            <ul class="nav navbar-nav hidden-sm hidden-xs top-navbar-items">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>

                            <!-- Top nav Right menu -->
                           

                                <li class="dropdown top-menu-item-xs">
                                    <a href="" class="dropdown-toggle menu-right-item profile" data-toggle="dropdown" aria-expanded="true"><img src="/static/parent_user/assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"><i class="ti-user m-r-10"></i> Profile</a></li>
                                   
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)"><i class="ti-power-off m-r-10"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end container -->
                </div> <!-- end navbar -->
            </div>
            <!-- Top Bar End -->


            <!-- Page content start -->
            <div class="page-contentbar">

                <!--left navigation start-->
                <aside class="sidebar-navigation">
                    <div class="scrollbar-wrapper">
                        <div>
                            <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm">
                                <i class="mdi mdi-close"></i>
                            </button>
                            <!-- User Detail box -->
                            <div class="user-details">
                                <div class="pull-left">
                                    <img src="/static/parent_user/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
                                </div>
                                <div class="user-info">
                                    <a href="#">Jayanth</a>
                                    <p class="text-muted m-0">National Public School</p>
                                </div>
                            </div>
                            <!--- End User Detail box -->

                            <!-- Left Menu Start -->
                            <ul class="metisMenu nav" id="side-menu">
                                <li><a href="pages-blanks.html"><i class="ti-home"></i> Welcome </a></li>

                                <li><a href="pages-blank.html"><span class="label label-custom pull-right"></span> <i class="ti-paint-bucket"></i> New Order </a></li>
 

                             
 <li><a href="#"><i class="ti-location-pin"></i>Close Account</a></li>
                                <li><a href="#"><i class="ti-location-pin"></i>Logout</a></li>

                               
                    </div><!--Scrollbar wrapper-->
                </aside>
                <!--left navigation end-->

                <!-- START PAGE CONTENT -->
               <div id="page-right-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-20 m-b-20">
                                    <h4 class="header-title m-t-0 m-b-0">Welcome</h4>
									
									
									  <div class="p-t-50">
                                    <h4 class="header-title">For Message</h4>

                                    <p class="text-muted m-b-30">
                                       This is just to show you 
                                    </p>
									
									<tr>
                                                        <td class="middle-align">A basic message</td>
                                                        <td>
                                                            <button class="btn btn-default waves-effect waves-light btn-sm" id="sa-basic">Click me</button>
                                                        </td>
                                                    </tr>
													 </div>

									
									</div>
									</div>
									</div>
									</div>
									</div>
									
                    <!-- end container -->

                    <div class="footer">
                        <div class="pull-right hidden-xs">
                            <strong class="text-custom"></strong>.
                        </div>
                        <div>
                           <!-- <strong>Simple Admin</strong> - Copyright &copy; 2017
                        </div>-->
                    </div> <!-- end footer -->

                </div>
                <!-- End #page-right-content -->

            </div>
            <!-- end .page-contentbar -->
        </div>
        <!-- End #page-wrapper -->



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/static/parent_user/assets/js/jquery-2.1.4.min.js"></script>
        <script src="/static/parent_user/assets/js/bootstrap.min.js"></script>
        <script src="/static/parent_user/assets/js/metisMenu.min.js"></script>
        <script src="/static/parent_user/assets/js/jquery.slimscroll.min.js"></script>

        <!--Morris Chart-->
		<script src="/static/parent_user/assets/plugins/morris/morris.min.js"></script>
		<script src="/static/parent_user/assets/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
		<script src="/static/parent_user/assets/pages/jquery.dashboard.js"></script>

        <!-- App Js -->
        <script src="/static/parent_user/assets/js/jquery.app.js"></script>

    </body>
</html>